footer {
  padding-top: 62rem;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom {
  margin-top: 9px;
  margin-left: 80px;
  font-size: 10px;
  color: white;
}
.below {
  margin-top: 53px;
}
.belowsocialmedia {
  color: #e46905;
  padding-right: 30px;
  font-size: 30px;
  text-decoration: none;
}
.lni-instagram-filled {
  margin-left: 100px;
}

.belowsocialmedia:hover,
.belowsocialmedia:focus {
  color: #300803f3;
}
