@import "reset.css";
@import "_body.css";
@import "_footer.css";
@import "_header.css";
@import "_layout.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --colorPrimary: rgba(196, 113, 19, 0.897);
}

/*comun*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
